server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # HOTEL SERVICE: Логин, Регистрация, Отели и Юзеры
        - id: hotel-service-route
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/api/users/**, /api/hotels/**, /api/rooms/**

        # BOOKING SERVICE: Бронирования и Рекомендации
        - id: booking-service-route
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/bookings/**, /api/recommendations/**

        # SWAGGER
        - id: openapi-docs
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/v3/api-docs/**