server:
  port: 8085

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        # HOTEL SERVICE
        - id: hotel-service-route
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/api/users/**, /api/hotels/**, /api/rooms/**, /api/recommendations/**, /hotel-docs/**
          filters:
            - RewritePath=/hotel-docs/(?<segment>.*), /$\{segment}

        # BOOKING SERVICE
        - id: booking-service-route
          uri: lb://BOOKING-SERVICE
          predicates:
            - Path=/api/bookings/**, /booking-docs/**
          filters:
            - RewritePath=/booking-docs/(?<segment>.*), /$\{segment}

        # ПРОБРОС ИНТЕРФЕЙСА SWAGGER (чтобы не было 404)
        - id: swagger-ui-static
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/swagger-ui/**, /v3/api-docs/**, /webjars/**

springdoc:
  swagger-ui:
    urls:
      - name: "1. Hotel Service"
        url: /hotel-docs/v3/api-docs
      - name: "2. Booking Service"
        url: /booking-docs/v3/api-docs
    # Это заставит Swagger UI грузиться правильно через Gateway
    path: /swagger-ui.html

management:
  tracing:
    sampling:
      probability: 1.0
  endpoints:
    web:
      exposure:
        include: health, info, tracing

logging:
  pattern:
    level: "%5p [${spring.application.name},%X{traceId:-},%X{spanId:-}]"