server:
  port: 8082
  # Критически важно для работы за Gateway
  forward-headers-strategy: framework

spring:
  application:
    name: booking-service
  datasource:
    url: jdbc:h2:mem:bookingdb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

# Идентичный секрет для расшифровки JWT
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

# Критично для SAGA: Feign должен видеть токен в том же потоке
hystrix:
  command:
    default:
      execution:
        isolation:
          strategy: SEMAPHORE

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    org.springframework.security: DEBUG
    com.example.bookingservice: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
  # Группировка заставляет SpringDoc принудительно искать контроллеры
  group-configs:
    - group: 'bookings'
      paths-to-match: /api/bookings/**
      packages-to-scan: com.example.bookingservice.controller