server:
  port: 8081

spring:
  application:
    name: hotel-service
  datasource:
    url: jdbc:h2:mem:hoteldb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

# Настройки Eureka для регистрации
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

# Секрет должен быть ИДЕНТИЧНЫМ во всех сервисах
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

# Включаем детальный лог, чтобы увидеть, кто именно кидает 403
logging:
  level:
    org.springframework.security: DEBUG
    com.example.hotelservice: DEBUG
    org.hibernate.SQL: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html